

    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/home/create}">Add Category</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Class</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/home/login}">login</a></li>
        </ul>
    </div>