<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <!--Add Sidebar trang trang -->
    <th:block th:replace="layout/sidebar.html"></th:block>
    <!--And sidebar trang-->

    <h1>Hello: Goob morning! goob fine.</h1>

    <!--/*@thymesVar id="msg" type="com"*/-->
    <span class="text-success"  th:text="${msg}"></span>
    
    <table class="table">
        <thead>
        <tr>

            <th>Tiêu đề</th>
            <th>Ghi chú</th>
            <th>Ảnh</th>
            <th>Acc</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="item, state : ${list}">
            <tr>
                <td ><a th:text="${item.title}" th:href="@{'/home/edit/'+${item.id}}"></a></td>
                <td th:text="${item.content}"></td>
                <td ><img width="250px" height="150px" th:src="${item.image}" alt="null" src="#"></td>
                <td><a th:href="@{'/home/edit/'+${item.id}}">edit</a> || <a th:href="@{'/home/delete/'+${item.id}}">Del</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>